[submodule "solana-gif-portal-blockchain-program"] 
  path = solana-gif-portal-blockchain-program
  url = https://github.com/numoonchld/solana-gif-portal-blockchain-program.git

[submodule "solana-gif-portal-frontend"] 
  path = solana-gif-portal-frontend
  url = https://github.com/numoonchld/solana-gif-portal-frontend.git