[submodule "solanagifportalblockchainprogram"] 
  path = solanagifportalblockchainprogram
  url = https://github.com/numoonchld/solanagifportalblockchainprogram

[submodule "solana-gif-portal-frontend"] 
  path = solana-gif-portal-frontend
  url = https://github.com/numoonchld/solana-gif-portal-frontend.git